<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
    <amplify-sign-out></amplify-sign-out>
    <div>Hi, {{user.username}}</div>
<!--  Call my GET and POST-->
  {{ pets | json}}

  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <button class="button" type="submit">Submit</button>

  </form>

  </div>
